
/example/.build
*.exe
*.exp
example/output/layout-new.lib
example/output/layout.lib
example/output/jai-test.pdb
example/output/raylib.dll
example/output/layout-new.pdb
example/output/layout-new.dll
/example/output
